{%extends "index.html"%}
{%block head%}
<style>
    .center{
       margin: auto;
       width: 600px;
       height: auto;
       font-family:cursive;
       font-weight: bolder;
       border: 3px solid black;
       border-radius: 20px;
       padding: 10px;    
       margin-top: 50px;
       padding-top: 10px; 
       font-size: 20px;
    }
</style>
{%endblock head%}
{%block body%}
<center><h1>signup</h1></center>
<div class="center">
<form action="/signup/" method="post">
    {%csrf_token%}
    <!-- {{data.as_p}} <br><br> -->
    <h2>
        {%if messages%}
        {%for message in messages%}
        {{message}}
        {%endfor%}
        {%endif%}
    </h2>
    {%for i in data%}
    {{i.name}} {{i}} <br>{{i.errors|striptags}} <br><br><br>
    {%endfor%}
    <center><button type="submit" style="background-color: rgb(165, 245, 165);"> submit</button></center>
</form>
</div>
{%endblock body %}